.mein {
  width: 1110px;
  margin: auto;
  font-family: "Roboto", sans-serif;
}
.nav_link {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
}
.logo {
  display: inline-block;
  height: 50px;
  font-size: 22px;
  padding-top: 14px;
}
#logo_green {
  color: rgb(26, 188, 156);
}
.nav_bar {
  float: right;
  width: auto;
}
.nav li {
  float: left;
  list-style: none;
  margin-left: 25px;
  font-size: 12px;
  padding-top: 3px;
}
.nav li :hover {
  color: rgb(26, 188, 156);
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.title {
  font-size: 37px;
  font-family: "Roboto";
  text-align: center;
  font-weight: 500;
}
.title::after {
  content: "";
  width: 170px;
  height: 6px;
  background-color: rgb(26, 188, 156);
  display: block;
  margin: 30px auto 90px;
}

.product {
  padding: 0px;
  margin-bottom: 70px;
}
.product li {
  float: left;
  list-style: none;
  background-color: rgb(233, 240, 253);
  width: 255px;
  height: 325px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.product li:hover .card_product,
.product li:hover .price {
  background-color: rgba(26, 188, 156, 0.568);
  cursor: pointer;
}

.product :nth-child(4n) {
  margin-right: 0px;
}
.card_product {
  width: 255px;
  height: 40px;
  background: #323232;
}

.desc,
.price {
  text-transform: uppercase;
  font-size: 18px;
  vertical-align: middle;
  color: aliceblue;
  line-height: 40px;
  padding-left: 10px;
}
.price {
  float: right;
  text-align: center;
  width: 45px;
  background: grey;
  padding-left: 0px;
}
.news_section {
  font-family: "Open Sans", sans-serif;
}
.news {
  float: left;
  width: 350px;
  margin-right: 30px;
}
.news_frame {
  margin-bottom: 100px;
}
.news_frame :nth-child(3) {
  margin-right: 0px;
}

.news_subtitle {
  font-weight: 600;
  font-size: 18px;
}

.news_subtitle::after {
  content: "";
  width: 136px;
  height: 3px;
  background-color: rgb(26, 188, 156);
  margin-bottom: 30px;
  margin-top: 15px;
  display: block;
}
.news_button {
  width: 160px;
  height: 50px;
  background-color: rgb(26, 188, 156);
  color: aliceblue;
  border-radius: 5px;
  margin-bottom: 100px;
}
